<header>

    <div class="container">
      <nav>
        <h1 id="title_header" style="color:BlanchedAlmond;font-size:125%">Little Esty Shop</h1>
        <%= link_to "All Merchant Dashboards", merchants_path %> |
        <%= link_to "Admin Dashboard", admin_index_path %>
      </nav>
    </div>
</header>
